- present(invoice) do |i|
  %table.table
    %tr
      %th{:scope => "col"} Name
      %th{:scope => "col"} Unit price
      %th{:scope => "col"} Count
      %th{:scope => "col"} Sum
    - i.products_summary.each do |product|
      - present(product) do |p|
        %tr
          %td= p.name
          %td= p.price
          %td= p.qty
          %td= p.price
    %tr
      %td
      %td
      %td
        %strong Total:
      %td= i.total_price