%h1.d-sm-inline-block Products
= link_to("Create Product", new_product_path, class: 'btn btn-primary float-sm-right')
%hr/

%table.table
  %tr
    %th{:scope => "col"} #
    %th{:scope => "col"} Name
    %th{:scope => "col"} Code
    %th{:scope => "col"} Price
    %th{:scope => "col"}
    %th{:scope => "col"}
    %th{:scope => "col"}
    %th{:scope => "col"}
  - products.each do |product|
    - present(product) do |p|
      %tr
        %th{:scope => "row"}=p.id
        %td= link_to(p.name, product_path(p))
        %td= p.code
        %td= p.price
        %td= link_to("Add invoice", add_product_checkout_path(p), remote: true)
        %td= link_to("Show", product_path(p))
        %td= link_to("Edit", edit_product_path(p))
        %td= link_to("Destroy", p, method: :delete, remote: true, data: { confirm: 'Are you sure?' })